<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Course</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h1 class="my-3">Add Course</h1>
<form method="post" class="form-group">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" class="form-control" required>
  <span class="text-danger" th:errors="${course.name}"></span>

  <label for="duration">Duration:</label>
  <input type="text" id="duration" name="duration" class="form-control" required>
  <span class="text-danger" th:errors="${course.duration}"></span>

  <label for="fee">Fee:</label>
  <input type="text" id="fee" name="fee" class="form-control" required>
  <span class="text-danger" th:errors="${course.fee}"></span>
  <input type="submit" value="Add Course" class="btn btn-primary mt-3">
</form>
</body>
</html>